{% extends 'adminbase.html' %}
{% block title %} Admin Home {% endblock title %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-6 border mt-2">
            <h2 class="text-warning mt-2">Register</h2>
            {% for v in views %}
            <form method="POST" action="{% url 'managerUpdateAction' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{v.id}}">
                <table>
                    <tr>
                        <th>Name:</th>
                        <td ><input type="text" name="name" class="form-control" value="{{v.Name}}"></td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td><textarea class="form-control" name="address">{{v.Address}}</textarea></td>
                    </tr>
                    <tr>
                        {%if v.Gender == 'male' %}
                        <th>Gender:</th>
                        <td><input type="radio" name="gender" class="form-check-input" value="male" checked='true'>Male
                        <input type="radio" name="gender" class="form-check-input" value="female">Female</td>
                        {% else  %}
                        <td><input type="radio" name="gender" class="form-check-input" value="male">Male
                        <input type="radio" name="gender" class="form-check-input" value="female" checked='true'>Female</td>
                        {%endif%}
                    </tr>
                    <tr>
                        <th>
                            DOB:
                        </th>
                        <td><input type="date" name="dob" class="form-control" value="{{v.DOB}}"></td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td><input type="text" name="phone" class="form-control" value="{{v.Phone}}"></td>
                    </tr>
                    <tr>
                        <th>Profile_Image:</th>
                        <td><img src="{{v.Image.url}}"width='100px' height="100px"></td>
                        <td><input type="file" name="file" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>
                            Email:
                        </th>
                        <td><input type="text" name="email" class="form-control" value="{{v.Email}}"></td>
                    </tr>
                    <tr>
                        <th>Username:</th>
                        <td><input type="text" name="username" class="form-control" value="{{v.Username}}"></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                        <td><input type="password" name="password" class="form-control"value="{{v.Password}}"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Register" class="btn btn-primary"></td>
                        <td><input type="reset" value="Clear" class="btn btn-warning"></td>
                    </tr>
                </table>




            </form>
            {% endfor %}
        </div>


</div>
</div>



{% endblock content %}

