{% extends 'userbase.html' %}

{% block title %} User Home {% endblock title %}
{% block content %}
{% if views %}
<div class="container">
  
  <div class="row border">
    
      <h2 class="text-primary">Change password</h2>
      <form method="POST" action="{% url 'changePasswordAction' %}">
        {% csrf_token %}
      {% for v in views %}

      <input type="text" name="username" class="form-control mt-5" value="{{v.Username}}">

      <input type="password" name="password" class="form-control mt-2" placeholder="New password">
       <input type="password" name="repass" class="form-control mt-2" placeholder="Confirm password">
       <input type="submit" value="UPDATE" class="btn btn-danger mt-2">
      {% endfor %}
    </form>
  </div>



</div>

{% endif %}
{% endblock %}