{% extends 'userbase.html' %}
{% block title %} User Complaints {% endblock title %}
{% block content %}
<script>

  function validation()
  {
    var comp=document.getElementById('Complaints')


    if (comp.value.length==0){
      alert("Enter your Complaints")
      return false;
    }
    else{
      return true;
    }
  }


</script>
<div class="container mb-2">

<h2>Complaint Form</h2>
	<div class="row border mb-5">
		{% for v in views %}
		<form method="POST" action="{% url 'complaintAction' %}">
			{% csrf_token %}
		<table>
			<tr>
				<th>UserName</th>
				<td><input type="text" name="name" class="form-control" value="{{v.User.Username}}" readonly> </td>
			</tr>
			<tr>
				<th>Food</th>
				<td><input type="text" name="food" class="form-control" value="{{v.Food.Food}}" readonly></td>
			</tr>
			<tr>
				<th>Date</th>
				<td><input type="text" name="date" class="form-control" value="{{v.Date}}" readonly></td>
				<tr>
					<th>Time</th>
					<td><input type="text" name="time" class="form-control" value="{{v.Time}}" readonly></td>

				</tr>
				<tr>
					<th>Complaints</th>
					<td><textarea name="complaint" class="form-control" id="Complaints"></textarea></td>
				</tr>
				<tr>
					<td><input type="submit" value="SUBMIT" class="btn btn-primary" onclick="return validation()">
						<input type="reset" name="CLEAR" class="btn btn-danger"></td>
				</tr>
			</tr>
		</table>
	</form>
	{% endfor %}
	</div>


</div>


{%if messages %}
{%for msg in messages %}
<script>
    alert('{{msg}}')
</script>
{% endfor %}
{% endif %}
{% endblock %}