{% extends 'managerbase.html' %}
{% block title %} Table Reservations {% endblock title %}

{% block content %}

<h2>Table Reservations</h2>

<div class="container">
	<div class="row">
		<table class="table table-bordered table-striped table-hover table-responsive">
			<tr>
				<th>User</th>
				<th>Date</th>
				<th>Time</th>
				<th>Table</th>
				<th>Peoples</th>
				
			</tr>
			{% for v in views %}
			<tr>
				<td>{{v.User.Name}}</td>
				<th>{{v.Date}}</th>
				<th>{{v.Time}}</th>
				<th>{{v.Table.Name}}</th>
				<th>{{v.Peoples}}</th>
				
			</tr>
			{% endfor %}

		</table>
	</div>
</div>


{% endblock content %}