{% extends 'managerbase.html' %}
{% block title %} Manager Home {% endblock title %}

{% block content %}
	<div class="container">

		<div class="row border p-5">
			<div class="col-lg-6 col-md-4 col-sm-2">

			<h2>Todays Special</h2>
			{% for v in view %}
	<form method="POST" action="{% url 'updateFoodAction' %}" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			<tr>
				<input type="hidden" name="id" value="{{v.id}}">
				<th>Food:</th>
				<td><input type="text" name="food" class="form-control" value="{{v.Food}}"></td>
			</tr>
			<tr>
				<th>Image:</th>
				<td><img src="{{v.Image.url}}" height="100px" width="100px">
					<input type="file" name="file" class="form-control"></td>
			</tr>
			<tr>
				<th>Price:</th>
				<td><input type="text" name="price" class="form-control" value="{{v.Price}}"></td>
			</tr>
			<tr>
				<th>Details:</th>
				<td><textarea class="form-control" name="details">{{v.Details}}</textarea></td>
			</tr>
			<tr>
				<td><input type="submit" value="ADD" class="btn btn-success"></td>
				<td><input type="reset" value="Clear" class="btn btn-warning"></td>
			</tr>







		</table>






	</form>
	{% endfor %}
</div>
		</div>

	</div>


 {%if messages %}
{%for msg in messages%}
<script>
    alert('{{msg}}')
</script>
{%endfor%}
{%endif%}


{% endblock content %}