{% extends 'userbase.html' %}
{% block title %} User Home {% endblock title %}
{% block content %}
	

	<div class="container">
		
		<div class="row border">
			<h3 class="text-primary"><u>MY Messages</u></h3>
			{% for v in view %}
			<p class="border">{{v.id}}--->{{v.Message|truncatechars:20}}


				<!-- Button trigger modal -->
<a href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal">
  Read more...
</a></p>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       {{v.Message}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

			</p>

			{% endfor %}


		</div>




	</div>



{% endblock %}